<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>xyz.yaohwu.plugin.entry.link.share.v11</id>
    <name><![CDATA[目录链接分享]]></name>
    <active>yes</active>
    <hidden>no</hidden>
    <auto-update>true</auto-update>
    <sync>no</sync>
    <version>1.0.0</version>
    <env-version>11.0~11.0</env-version>
    <jartime>2021-08-30</jartime>
    <vendor>yaohwu</vendor>
    <description><![CDATA[获取决策平台挂载目录的超链用于分享]]></description>
    <workspace-independent>yes</workspace-independent>
    <change-notes><![CDATA[
        [2021-12-31] 初次发布 <br/>
    ]]></change-notes>
    <prefer-packages>
        <prefer-package>xyz.yaohwu.plugin.els</prefer-package>
        <prefer-package>com.fr.plugin.els</prefer-package>
    </prefer-packages>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.els.locale.ELSLocaleFinder"/>
    </extra-core>
    <extra-decision>
        <SystemOptionProvider class="com.fr.plugin.els.system.ELSOption"/>
    </extra-decision>
    <lifecycle-monitor class="com.fr.plugin.els.lifecycle.ELSLifecycleMonitor"/>
    <function-recorder class="com.fr.plugin.els.locale.ELSLocaleFinder"/>
</plugin>
